.box-container {
  background-color: yellow;
  height: 500px;
  padding: 20px;
  display: inline-flex;
}

.box1 {
  background-color: rosybrown;
  width: 400px;
  height: 200px;
  border: 2px solid black;
}

.box2 {
  background-color: goldenrod;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  /* position: absolute;
  top: 50px;
  left: 50px; */
}

.box3 {
  background-color: aqua;
  width: 400px;
  height: 200px;
  border: 2px solid black;
}