.box-container {
  background-color: yellow;
  height: auto;
}

.box1 {
  background-color: rosybrown;
  width: 400px;
  height: 200px;
  border: 2px solid black;
}

.box2 {
  background-color: aliceblue;
  width: 400px;
  height: 200px;
  border: 2px solid black;
}

.box3 {
  background-color: aqua;
  width: 400px;
  height: 200px;
  border: 2px solid black;
}