.box-container {
  background-color: yellow;
  height: auto;
  padding: 20px;
}

.box1 {
  background-color: rosybrown;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  float: right;
  margin-bottom: 15px;
}

.box2 {
  background-color: aliceblue;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  margin-bottom: 15px;
}

.box3 {
  background-color: aqua;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  margin-bottom: 15px;
}